name: Docker Hub Publish

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Web image
        uses: docker/build-push-action@v5
        with:
          context: ./web
          push: true
          tags: |
            techsuivi/web:latest
            techsuivi/web:${{ github.sha }}

      - name: Build and push NoVNC image
        uses: docker/build-push-action@v5
        with:
          context: ./novnc
          push: true
          tags: |
            techsuivi/novnc:latest
            techsuivi/novnc:${{ github.sha }}

      - name: Build and push Database image
        uses: docker/build-push-action@v5
        with:
          context: ./db
          push: true
          tags: |
            techsuivi/db:latest
            techsuivi/db:${{ github.sha }}
